body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5,
p {
  margin: 0;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #ffffff;
  max-width: 1080px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 85px auto;
}

.header {
  border-bottom: 1px solid #EAEAEA;

  &__info {
    margin-left: 16px;

    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #9D9D9D;
    }
  }
}

.nav {
  &__price {
    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #5C5C5C;
    }
  }

  &__user {
    img {
      margin-left: 30px;
    }
  }
}

.card {
  padding: 10px 30px 30px 30px;
  width: 220px;
  border-radius: 40px;
  border: 1px solid #f3f3f3;
  margin-bottom: 40px;

  h5 {
    font-weight: 400;
    font-size: 14px;
    margin: 14px 0 14px;
    text-align: center;
  }

  &__price {
    span {
      font-size: 11px;
      color: #BDBDBD;
      font-weight: 500;
      line-height: 13px;
      text-transform: uppercase;
    }
    b {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }
  }
}

.button {
  background-color: #ffffff;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}


.search-block {
  border: 1px solid #F3F3F3;
  padding: 0 15px;
  border-radius: 10px;


  input {
    border: none;
    padding: 12px;
    font-size: 16px;
    width: 200px;
  }
}